<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>我的网页</title>
</head>
<body>
    <div>内容</div>
    <span>标题一</span> <span>标题二</span> <span>标题三</span>
    <h1>一级标题</h1>
    <h2>二级标题</h1>
    <h3>三级标题</h1>
    <h4>四级标题</h1>
    <h5>五级标题</h1>
        <a href="/get/news">点击跳转自己的网站</a></br>
        <a href="http://www.baidu.com">点击跳转别人的网站百度</a>
        <ul>
	<li>中国移动</li>
	<li>中国联通</li>
	<li>中国电信</li>
        </ul>

</body>
</html>
